 <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

 <beans>
 	
    <bean id="abstractCatalogFinder" class="org.geoserver.catalog.rest.AbstractCatalogFinder" abstract="true">
        <constructor-arg ref="catalog"/>
    </bean>
     
    <!-- Finders -->
    <bean id="classificationFinder" class="it.sister.extension.classification.ClassificationFinder" parent="abstractCatalogFinder"/>
    <bean id="extentFinder" class="it.sister.extension.extent.ExtentFinder" parent="abstractCatalogFinder"/>
    <bean id="mapImageExportFinder" class="it.sister.extension.mapImage.MapImageExportFinder" parent="abstractCatalogFinder"/>
    <bean id="jointableFinder" class="it.sister.extension.publish.JoinTableFinder" parent="abstractCatalogFinder"/>
    <bean id="publishFinder" class="it.sister.extension.publish.PublishFinder" parent="abstractCatalogFinder"/>
    <bean id="unpublishFinder" class="it.sister.extension.publish.UnpublishFinder" parent="abstractCatalogFinder"/>
    
    <!-- Mappings -->
    <bean id="operationsMapping" class="org.geoserver.rest.RESTMapping">
       <property name="routes">
          <map>
            <entry>
                <key><value>/classify?{workspace},{featureType},{field},{classes},{palette},{filter},{borderColor},{borderWidth},{borderStyle}</value></key>                
                <value>classificationFinder</value>   
            </entry>    
            <entry>
                <key><value>/classify?{workspace},{featureType},{field},{classes},{palette},{borderColor},{borderWidth},{borderStyle}</value></key>                
                <value>classificationFinder</value>   
            </entry>          	
            <entry>
                <key><value>/classify?{workspace},{featureType},{borderColor},{borderWidth},{borderStyle}</value></key>                
                <value>classificationFinder</value>   
            </entry>
            <entry>
                <key><value>/getextent?{workspace},{featureType},{filter}</value></key>                
                <value>extentFinder</value>   
            </entry>
            <entry>
                <key><value>/getextent?{workspace},{featureType}</value></key>                
                <value>extentFinder</value>   
            </entry>
             <entry>
                <key><value>/mapImageExport?{fileName}</value></key>                
                <value>mapImageExportFinder</value> 
            </entry>
            <entry>
                <key><value>/mapImageExport</value></key>                
                <value>mapImageExportFinder</value> 
            </entry>            
            <entry>
                <key><value>/jointable?{workspace},{dataStore},{layerTableName},{dataTableName},{joinLayerField},{joinTableField}</value></key>                
                <value>jointableFinder</value> 
            </entry>             
            <entry>
                <key><value>/publish?{workspace},{dataStore},{tableName},{layerName}</value></key>                
                <value>publishFinder</value> 
            </entry>
             <entry>
                <key><value>/unpublish?{workspace},{layerName}</value></key>                
                <value>unpublishFinder</value> 
            </entry>
         </map>
      </property>
    </bean>
    
</beans>