@CHARSET "ISO-8859-1";
.bt-remove-link.ui-icon-close.ui-icon {
display: inline-block;
margin-left: 15px;
}

.bt-remove-link.ui-icon-close.ui-icon:hover, .bt-remove-attach:hover {
	cursor: pointer;
}

div#links-container .link {
padding-left: 15px;
}

input#edit-title {
width: 70%;
}

.tab-application {
	display: none;
}

div.wysiwyg-toggle-wrapper {
border-right: 1px solid #CCC;
border-left: 1px solid #CCC;
}

.wysiwyg-toggle-wrapper > a {
padding-left: 10px;
}

#edit-metadata-datasources {
background: #F9F9F9;
border: 1px solid #CCC;
margin-left: 10px;
overflow: scroll;
height: 400px;
display: inline-block;
width: 500px;
border-radius: 3px;
}

#edit-metadata-license>div, #edit-metadata-type>div, #edit-metadata-category>div, #edit-metadata-datasources>div {
	padding-left: 4px;
}

/* jquery theme overwriting  */
.ui-tabs-nav {
background: white;
border-top: 0;
border-left: 0;
border-right: 0;
border-bottom-color: #4D76BD;
margin-top: 10px;
}

#content li a {
	font-weight: bold;
}

#content li.ui-tabs-selected {
background: white;
color: #4D76BD;
}

#content li.ui-tabs-selected a {
font-weight: bold;
color: #4D76BD;
}

#content li.ui-tabs-selected:hover {
background: white;
color: #4D76BD;
}

#content li.ui-tabs-selected a:hover {
font-weight: bold;
color: #4D76BD;
}

div.tab_metadata {
float: left;
background-repeat: no-repeat;
background-position: center center;
width: 18px;
height: 18px;
margin: 0;
padding: 0;
margin-top: 5px;
margin-left: 2px;
}

div.Descripton_img {
background-image: url(images/blue_icons/Description.png);
}

div.etl_img {
background-image: url(images/blue_icons/Description.png);
}

div.application_img {
background-image: url(images/blue_icons/Description.png);
}

div.attachments_img {
background-image: url(images/blue_icons/Description.png);
}

#content li.ui-state-hover {
border: 1px solid #36A;
font-weight: bold;
color: #36A;
background: #ECF3FF;
}

#content li.ui-state-hover a {
	font-weight: bold;
	color: #36A;
}

.bt-next {
background: url(images/buttons.png) 0 0 repeat-x;
cursor: pointer;
padding: 4px 17px;
margin-bottom: 1em;
margin-right: 1em;
color: #5A5A5A;
text-align: center;
font-weight: normal;
font-size: 0.9em;
font-family: "Lucida Grande", Verdana, sans-serif;
border: 1px solid #E4E4E4;
border-bottom: 1px solid #B4B4B4;
border-left-color: #D2D2D2;
border-right-color: #D2D2D2;
background: url(images/buttons.png) 0 0 repeat-x;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}

/* hide drupal node settings */
.vertical-tabs.clearfix {
display: none;
}

/* hide preview button */
#edit-preview-copy {
display: none;
}

#tabs-description .form-item.form-type-plupload.form-item-attached-files {
display: none;
}

#links-container li:nth-child(odd), ol.current-attaches li:nth-child(odd) {
background-color: #F4F4F4;
}

.bt-remove-link.ui-icon.ui-icon-close, .bt-remove-attach {
background-color: #F0F0F0;
border: 1px solid black;
float: right;
border-radius: 5px;
}

#links-container li, ol.current-attaches li {
padding-bottom: 6px;
padding-top: 6px;
padding-left: 4px;
}

#edit-datasource-relation-fieldset .fieldset-wrapper > div {
display: inline-block;
}

#edit-ds-label, #edit-ds-link {
width: 450px;
}

#edit-relation-fieldset .fieldset-wrapper > div {
display: inline-block;
}

#edit-label, #edit-link {
width: 450px;
}

#bt-add-relation {
position: relative;
top: -26px;
left: 20px;
}

#edit-relation-fieldset .fieldset-wrapper > div#links-container {
display: block;
}