<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title> 
    <script>
    	
    </script>   
</head>

<body>
	<!-- Classify parameters -->
	<div id="classifyParams" title="Imposta parametri per la classificazione" class="ui-widget">
		<form action="#">
			<div id="classifyParamsCl" class="ui-widget">
			<fieldset>
				<span id="var_name" class="varName"></span>
				<label for="numClasses">Numero di classi</label>
				<select id="numClasses">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>					
				</select>
				<input type="checkbox" name="invertedClasses" value="invertedClasses" onchange="doColorInvert(this);"/> Inverti scale di colori
				<label for="palettes">Colori</label>								
				<span id="palettes">					
				<div id="sequential">
					<div id="multihue">						
						<input type="radio" id="YlGn" value="YlGn" name="palettes" /><img src="img/color_brewer/YlGn.png" alt="Yellow-Green" title="Yellow-Green" /><br/>					
						<input type="radio" id="YlGnBu" value="YlGnBu" name="palettes" /><img src="img/color_brewer/YlGnBu.png" alt="Yellow-Green-Blue" title="Yellow-Green-Blue" /><br/>
						<input type="radio" id="GnBu" value="GnBu" name="palettes" /><img src="img/color_brewer/GnBu.png" alt="Green-Blue" title="Green-Blue" /><br/>
						<input type="radio" id="BuGn" value="BuGn" name="palettes" /><img src="img/color_brewer/BuGn.png" alt="Blue-Green" title="Blue-Green" /><br/>
						<input type="radio" id="PuBuGn" value="PuBuGn" name="palettes" /><img src="img/color_brewer/PuBuGn.png" alt="Purple-Blue-Green" title="Purple-Blue-Green" /><br/>
						<input type="radio" id="PuBu" value="PuBu" name="palettes" /><img src="img/color_brewer/PuBu.png" alt="Purple-Blue" title="Purple-Blue"/><br/>						
					</div>
					<div id="multihue2">
						<input type="radio" id="BuPu" value="BuPu" name="palettes" /><img src="img/color_brewer/BuPu.png" alt="Blue-Purple" title="Blue-Purple"/><br/>
						<input type="radio" id="RdPu" value="RdPu" name="palettes" /><img src="img/color_brewer/RdPu.png" alt="Red-Purple" title="Red-Purple"/><br/>
						<input type="radio" id="PuRd" value="PuRd" name="palettes" /><img src="img/color_brewer/PuRd.png" alt="Purple-Red" title="Purple-Red"/><br/>
						<input type="radio" id="OrRd" value="OrRd" name="palettes" /><img src="img/color_brewer/OrRd.png" alt="Orange-Red" title="Orange-Red" /><br/>
						<input type="radio" id="YlOrRd" value="YlOrRd" name="palettes" /><img src="img/color_brewer/YlOrRd.png" alt="Yellow-Orange-Red" title="Yellow-Orange-Red"/><br/>
						<input type="radio" id="YlOrBr" value="YlOrBr" name="palettes" /><img src="img/color_brewer/YlOrBr.png" alt="Yellow-Orange-Brown" title="Yellow-Orange-Brown"/><br/>
					</div>
					<div id="singlehue">
						<input type="radio" id="Purples" value="Purples" name="palettes" /><img src="img/color_brewer/Purples.png" alt="Purples" title="Purples" /><br/>
						<input type="radio" id="Blues" value="Blues" name="palettes" /><img src="img/color_brewer/Blues.png" alt="Blues" title="Blues" /><br/>
						<input type="radio" id="Greens" value="Greens" name="palettes" /><img src="img/color_brewer/Greens.png" alt="Greens" title="Greens" /><br/>
						<input type="radio" id="Oranges" value="Oranges" name="palettes" /><img src="img/color_brewer/Oranges.png" alt="Oranges" title="Oranges"/><br/>
						<input type="radio" id="Reds" value="Reds" name="palettes" /><img src="img/color_brewer/Reds.png" alt="Reds" title="Reds"/><br/>
						<input type="radio" id="Grays" value="Grays" name="palettes" /><img src="img/color_brewer/Grays.png" alt="Grays" title="Grays" /><br/>
					</div>	
				</div>	
				</span>	
				</div>
				<div id="classifyParamsBorder" class="ui-widget">
					<label>Propriet&agrave; bordo</label>
					<div id="dimborder" >	
						<label>Dimensione</label>
						<select id="borderWidth" style="width: 90px">
						<option value="0">nessuno</option>
						<option value="0.5">sottile</option>
						<option value="1">medio</option>
						<option value="1.5">grande</option>
						<option value="2">molto grande</option>
						</select>
					</div>
					<div id="colborder">
						<label>Colore</label><input class="color" id="borderColor" style="width: 50px"/>
					</div>
					<div id="styleborder">
						<label>Stile</label>
						<span id="styleB">
						<input type="radio" id="solid" value="solid" name="styleB" /><img src="img/solid.png" alt="solid" title="solid" />
						<input type="radio" id="dotted" value="dotted" name="styleB" /><img src="img/dotted.png" alt="dotted" title="dotted" />
						<input type="radio" id="dashed" value="dashed" name="styleB" /><img src="img/dashed.png" alt="dashed" title="dashed" />
						</span>						
					</div>
				</div>						
			</fieldset>
		</form>
	</div>
</body>
</html>