<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
	<!-- Legend Panel -->
	<div id="legendPanelContent"  title="Legenda">		
		<div id="legendTitle">
			<span id="classified_var" class="varName"></span>			
		</div>
		<div id="legendClasses"/>
		<div id="spinner" class="spinner">
			<img id="img-spinner" src="img/loader.gif" alt="Loading"/>
		</div>
	</div>
</body>
</html>