#graphType{
	width:66px;
	height: 22px;
	vertical-align: middle;
	/*
	padding: 2px;
	vertical-align: middle;
	*/
}

#graphMeasures{
	width:120px;
	height: 22px;
	vertical-align: middle;
}

#graphDimensions{
	width:80px;
	height: 22px;
	vertical-align: middle;
}

#dimensionFilterKeyController{
	width:80px;
	height: 22px;
	vertical-align: middle;
}

#dimensionFilterValueController{
	width:80px;
	height: 22px;
	vertical-align: middle;
}

#graphFieldToCount{
	width:80px;
	height: 22px;
	vertical-align: middle;
}

#backNextGraph{
	text-align: center;
}

a.backNextLinkDisabled{
	text-decoration: none !important;
	color: gray !important;
	cursor: default !important;
}

a.backNextLinkDisabled:hover{
	text-decoration: none;
	color: gray;
	cursor: default;
}

.ui-autocomplete-loading { background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat; }

#dimension-filter-value-tb { 
	height: 10px;
	vertical-align: middle;
}

