@CHARSET "ISO-8859-1";

div.config-item {
clear: both;
width: 99%;
border: 1px solid gray;
/* height: 66px; */
padding-left: 10px;
border-image: initial;
float: left;
margin-bottom: 8px;
}

div.config-item > div {
/*float: left;*/
margin-right: 15px;
}

div.invisible {
	display: none;
}