@CHARSET "ISO-8859-1";

div.section > h1.title {
margin-top: 0px; /*Ivette*/
margin-bottom: 0px;
}

.sidebar .block {
	background-color: #fff;
}

form.search-form input.form-submit {
/*-khtml-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0;
margin: 0;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 6px;
padding-right: 7px;
-moz-border-radius: 0;*/
background-color: #ddd;
border: 1px solid #ccc;
font-size: 12px;
font-weight: bold;
text-align:center;
cursor: pointer;
margin: 0 1px;
padding: 2px 8px;
}

form.search-form input.form-submit:hover {
background-color: #eee;
cursor: pointer;
}

div.search-item-tags>div {
	display: inline-block;
}

div.author > img {
	width: 25px;
	height: 50px;
	text-align: center;
	margin: auto;
}

div#edit-metadata-filter-metadata-lu-format-tree {
display: inline-block;
}

.search-advanced .criterion  {
	display: inline;
	float: none;
}

.form-item-metadata-author > label {
background-color: #CCC;
padding: 4px;
border-radius: 2px;
width: 214px;
}

fieldset.collapsible {
position: fixed;
width: 250px;
top: 128px;
right: 0;
height: 80%;
overflow-y: scroll;
overflow-x: hidden;
}

fieldset.search-advanced legend {
width: 250px;
height: 32px;
margin-top: 11px;
}

div.search-filters > h3 {
padding-left: 10px;
padding-top: 2px;
padding-bottom: 2px;
}

#edit-keys {
width: 158px;
}

#edit-main > h3 {
margin-top: 5px;
font-weight:bold;

	border: 1px solid #ddd;
	border-bottom: none;
	background: #ddd;

}

div#edit-filter-accordion > h3
{
	border: 1px solid #ddd;
	background: #ddd;
	font-weight: bold;

}

div#edit-filter-accordion > div {
	border: 1px solid #ddd;
	
}

div#edit-filter-accordion > h3 > a {
color: #000;
padding: .5em .5em .5em 2.2em;
}

div.scrollable-container {
border: 1px solid #ddd;
}

div.search-filters > h3 {
height: 21px;
}

#edit-main > h3 > a {
	top: 3px;
	position: relative;
	color: #000;
}

.ui-accordion .ui-accordion-header {
margin-top: 5px;
}

div.search-result-box .search-result-author {
width: 28%;
display: inline-block;
/*float: right; left;*/
}

div.search-result-box > .search-snippet-info {
/*width: 70%;*/
display: inline-block;
/*float: left;*/
margin-top: -6px;
margin-bottom: 6px;
width: 625px;
}

ul.taxonomy-horizontal-tree {
	list-style: none;
}

ul.taxonomy-horizontal-tree>li {
	float:left;
	border: 0;
}

/* Ivette - Compatibility IE9
form.fivestar-widget {	
	display: inline-block;
	padding-left: 16px;
	float: right;
}

div.fivestar-average-stars {
	display: inline-block;
	padding-left: 16px;
	float: right;
}
*/

div.search-result-viewcount {
	display: inline-block;
	/*padding-left: 16px;*/
	/*top: -14px;*/
	position: relative;
	margin-top: 2px;
}

.search-result-fonte, div.search-result-viewcount > span, div.search-result-lastupdate > span, div.taxonomy-horizontal-tree > span {
	color:#3b3b3b;
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: bold;	
}

div.search-result-lastupdate {
	display: inline-block;
	padding-left: 16px;
	/*top: -14px;*/
	position: relative;
	margin-top: 2px;
}


.search-results li {
font-size: 10pt;
}


div.search-result-author > div {
/*float: left;*/
margin-bottom: 0;
left: 4px;
position: relative;
color: #4D76BD;
top: 10px;
}

div.search-result-author {
	text-align: center;
}

div.search-result-author img {
/*padding-right: 6px;*/
/*float: right;*/
/*margin-top: -24px;*/
    max-height: 80px; 
	max-width: 80px;  
	/* height: 64px; */
	/* width: 64px; */
/*	position: absolute;
	right: 0px;
	top: 10px;*/
	/* ivette float: right;
	position: relative;
	left: -10px;*/
	margin-top: 10px
}

div.taxonomy-horizontal-tree {
/*top: -12px;*/
position: relative;
}

div.taxonomy-horizontal-tree > span {
	display: inline;
	float: left;
	margin-right: 4px;
}

div.taxonomy-horizontal-tree > ul {
	display: inline;
}

ul.taxonomy-horizontal-tree>li>img {
margin-left: 4px;
margin-right: 4px;
height: 8px;
}

div.taxonomy-result-term {
/*float: left;*/
margin-right: 10px;
/*border: 1px solid #4D76BD;*/
font-size: .9em;
/*background-color: #FF934D;*/
}

div.taxonomy-result-term a {
color: #36a;
}
div.taxonomy-result-term > span {
padding-right: 10px;
padding-left: 5px;
}

div.search-item-tags {
	clear:both;
/*position: relative;
top: -14px;
clear: both;*/
}

div#metadata-catalog div.item-list {
/*width: 70%;*/
display: inline-block;
}

select[name="order_by"] {
/*background-color: #4A3;*/
/*border: 0;*/
/*float: right;*/
margin: 2px 2px 0 0;
}
div#metadata-catalog ul.pager {
font-size: 1em;/*8pt;*/
}
.item-list ul.pager > li, .item-list ul.pager a {
/*background-color: #4A3;*/
color: #36A; 
}

.item-list ul.pager li.pager-current a {
color: #FF934D;
}

.item-list ul.pager > li.pager-current {
color: #FF934D;
}

div#block-metadata-catalog-filter-box > h2 {
	background-color: #4D76BD;
	color: white;
	font-size: 10pt;
	margin: 0;
	padding-left: 6px;
	padding-top: 2px;
	margin-bottom: 4px;
}

div#block-metadata-catalog-filter-box {
padding: 0;
}

li.metadata-search-result {
font-style: normal;
}

.metadata-search-result h3 {
	margin: 0.2em 0 0.5em;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-moz-binding: url('assets/xml/ellipsis.xml');
}

div.search-result-dx {
	display: inline-block;
	position: absolute;
	/*width: 170px;*/
	right: 0px;/*50px;*/	
	height: 135px;
}

div.search-result-sx {
	display: inline-block;
	position: relative;
	top:0px;
	width: 575px;
	left: 0px;	
}

.search-snippet {
	padding: 2px;
	margin: 2px;
	/*background-color: #eee;*/
	font-style:italic;

}

.addthis_toolbox.addthis_default_style.addthis_32x32_style {
margin-top: 10px;
margin-left: 15px;
}

div.order-by-label {
	float: right;
/*	position: relative;
	top: -10px;*/
}

div.order-by-label > span {
	padding-right: 2px;
	font-weight: bold;
}

div.search-result-license > img {
height: 15px;
width: 80px;
/* ivette float: right;
position: relative;
left: -10px;*/
margin-top: 10px;
}

.search-item-label {
float: left;
color: #3B3B3B;
font-size: 0.9em;
text-transform: uppercase;
font-weight: bold;
font-style: normal;
margin: 2px 2px 0 0;
}

div.search-item-tags div.keywords   {
color: #3E6D8E;
background-color: #E0EAF1;
border-bottom: 1px solid #3E6D8E;
border-right: 1px solid #7F9FB6;
padding: 1px 6px 1px 6px;
margin: 1px;
text-decoration: none;
/* font-size: 90%;*/
/*line-height: 2.4;*/
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
-moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
vertical-align:text-bottom;
float: left;
margin-right: 5px;
}

div.search-item-tags div.keywords a  {
color: #3E6D8E;
text-decoration: none;
}

div.search-item-tags div.keywords:hover {
background-color: #3E6D8E;
color: #E0EAF1;
border-bottom: 1px solid #37607D;
border-right: 1px solid #37607D;
text-decoration: none;
cursor: pointer;
}

div.search-item-tags div.keywords:hover a  {
color: #E0EAF1;
text-decoration: none;
}

/* --------------- Search Results ---------------- spostato da style.css - Ivette */

ol.search-results {
  padding-left: 0;
}
.search-results li {
  border-bottom: 1px solid #d3d7d9;
  /*padding-bottom: 0.4285em;
  margin-bottom: 0.5em;
  background-color: #fafffa;*/
  padding: 0 0.4em 0.4em 0.4em;
  margin-bottom: 0.5em;
  position: relative;
}
.search-results li:last-child {
  /*border-bottom: none;*/
  padding-bottom: none;
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 0;
}

span.count {  
  font-weight: bold;
}

div#match_count span {
	left: 4px;
  top: 4px;
  position: relative;
}

div#match_count {
  /*border-bottom: 1px solid #4a3;*/
  height: 27px;
}

.summary-filter-label {
color: #3B3B3B;
font-size: 0.9em;
text-transform: uppercase;
padding: 0 4px;
}

span.summary-filter-title {
padding-left: 4px;
font-weight: bold;
}

div.summary-filter span.separator {
	color:#4D76BD;
}

div#search-filters-summary, div#match_count {
	background-color: #eee;
}

.summury-term {
	font-style: oblique;
}

.filtered-search {
	display: none;
}


span.term-count {

color: #555;
}

.taxonomy-term-count {
color: #999;
}

.search-filters .form-item {
display: none;
}

div.search-filters div.criterion > div {
visibility: hidden;
}

img.tree-level-separator {
height: 8px;
}

div.ajax-animation, div.admin-ajax-animation {
opacity: 0.5;
text-align: center;
top: 0;
left: 0;
background-color: #EEE;
z-index: 100;
padding-top: 180px;
position: fixed;
width: 100%;
height: 100%;
}

/* --------------- Search Results Direct Links ---------------- */

.search-result-direct-link {
	display: inline-block;
	border: 0;
}

div.search-result-direct-link img {
	width: 18px;
	height: 18px;
	margin: 0 5px
}

div.search-result-direct-link img:hover {
		background-color: #DEF;
}

.ui-accordion-content {
height: 180px;
overflow-y: scroll;
}

.ui-accordion .ui-accordion-content {
padding: 0;
}

#administrator-panel {
	text-align: center;	
}
#administrator-panel > span {
	color: #018FE2;
	padding-left: 16px;
	padding-right: 16px;
}

#administrator-panel > span:hover {
	cursor: pointer;
	text-decoration: underline;
}

.metadata-action-select, .metadata-action-deselect {
color: #018FE2;
margin-bottom: 16px;
}

.metadata-action-select:hover, .metadata-action-deselect:hover {
	cursor: pointer;
	text-decoration: underline;
}

.metadata-search-result.selected {
	border: 1px solid #D3D7D9;
	background-color: #F3F7F9;
}

/* action menu */
.descendent-menu {
	width: 130px;
	float: right;
	padding: 2px;
	height: 18px;
	color: white;
	background: #4D76BD url(images/ui-bg_flat_60_4d76bd_40x100.png) 50% 50% repeat-x;
	display: inline-block;
}

.action-menu-label {
	top: 0;
	display: inline-block;
}

.action-menu-icon {
	float: right;
	display: inline-block;
}

.action-menu-icon:hover {
	cursor: pointer;
}

ul.action-items {
	width: 200px;
	left: -2px;
	padding-left: 4px;
	border-left: 2px solid #4D76BD;
	text-align: left;
	list-style: none;
	background: #4D76BD url(images/ui-bg_flat_60_4d76bd_40x100.png) 50% 50% repeat-x;
	margin: 0;
	z-index: 100;
	position: relative;
	display: none;
}

.action-items > li {
	border-bottom: 1px solid #F84;
}

.action-items > li:hover {
	cursor: pointer;
	font-weight: bold;
}

.search-result-direct-link {
width: 100%;
}

span.status, span.visibility {
font-size: 10px;
color: white;
padding-bottom: 2px;
padding-top: 2px;
padding-left: 10px;
background-color: #4D76BD;
padding-right: 10px;
float: right;
}

span.visibility {
border-left: 4px solid white;
}