@CHARSET "ISO-8859-1";

div#left-content {
display: inline-block;
width: 520px;
float: left;
margin-right: 12px;
margin-left: 5px;

color:white;

}

div#right-content {
display: inline-block;
/*height: 800px;*/
width: 430px;
margin-top: 0px;
background-color: #eee; /* custom-property */
}

div#slideshow-content {

width: 100%;
height: 300px;
overflow: hidden;
/*background-color: #4D76BD;*/
background-image: url(../images/slider-bg.png);
/*background-image: url(../images/back_gallery.png);*/
position: relative;
}

.info_box
{
	color:black;
	padding:5px;
	font-size:0.9em;
} 

div#shortcut-content > div#odata-tweets {
height: 462px; /*422px;*/
}

#odata-search, #odata-upload {
margin-left: 15px;
}

p.jshowoff-slidelinks > a {
	margin-left: 4px;
	width: 120px;	
}

div#slidingFeatures {
	height: 258px;
	margin-left: 6px;
	margin-right: 6px;
	font-size: 1.2em;
	position: relative;
}

div.ajax-loading-animation-container {
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
background-image: url(../images/slider-bg.png);
z-index: 1000;
}

img.ajax-loading-animation {
width: 55px;
height: 55px;
display: block;
margin: auto;
padding-top: 90px;
}

p.jshowoff-slidelinks > div {
display: inline-block;
background-color: #4A3;
color: white;
padding: 2px;
margin: 2px;
/*height: 50px;*/
width: 115px;
/*border-right: 1px solid white;
border-top: 1px solid white;*/
font-size: 1.1em;
opacity: 0.8;
text-align: center;
vertical-align: middle;
}

p.jshowoff-slidelinks {
margin-left: 4px;
margin-bottom: 0px;
}

p.jshowoff-slidelinks > div.jshowoff-1-active {
opacity: 0.98;
text-decoration: underline;;
}

div.jshowoff-slidelink-0 {
/*border-left: 1px solid white;*/
}

.jshowoff-controls.jshowoff-1-controls {
position: absolute;
top: -17px;
right: 10px;

}

.jshowoff-controls.jshowoff-1-controls > a {
padding: 1px 4px;
margin: 0;
background-color: #4A3;
color: white;
font-size: 1.1em;
opacity: 0.8;
}

div.category-link {
	float: left;
	width: 85px;
	height: 85px;
	margin: 0px 0px 10px 17px; /* 0px 0px 9px 9px;*/
	position: relative;
	overflow: hidden;
}


div.category-link > div.label {
position: absolute;
bottom: 3px;
padding-left: 3px;
background-color: grey; /* custom-property */
opacity: 0.8;
color: white; /* custom-property */
width: 100%;
}

div#bottom-shortcut {
/*width: 410px;*/
clear: left;
/*border: 1px solid #4D76BD;*/
margin: 10px;
}

div#shortcut-content > div {
float: left;
width: 240px;
height: 220px; /*200px;*/
border:  1px solid lightgray; /* custom-property */
margin-top: 10px;
}

div#shortcut-content h3 {
color: #FF934D; /* custom-property */;
margin: 0 0 5px;
font-weight: bold;
border-bottom: #EEEEEE solid 1px;
padding-bottom: 5px;
width: 80%;
}

div#odata-search {
background-image: url(../images/cerca.png);
background-repeat: no-repeat;
background-position: right top;

}

div#odata-upload {
background-image: url(../images/caricadati.png);
background-repeat: no-repeat;
background-position: right top;
}

div#odata-faq {
background-image: url(../images/help.png);
background-repeat: no-repeat;
background-position: right top;
margin-right: 15px;
}

div#odata-news {
background-image: url(../images/news.png);
background-repeat: no-repeat;
background-position: right top;
}

ol {
list-style-type:none;
}

#content .section, .sidebar .section{
padding: 0px;
}

div#block-metadata-metadata-statistics li {
text-decoration: none;
}

#shortcut-content {
float: left;
}

.div_social {
padding-top: 10px;
padding-bottom: 10px;
}

div.info_box h2 {
color: #FF934D;	 /* custom-property */
margin: 0 0 5px;
font-weight: bold;
border-bottom: #EEE solid 1px;
padding-bottom: 5px;
width: 80%;
}

div#odata-box-1, div#odata-box-2 {
margin-left: 15px;
background-image: url(../images/cerca.png);
background-repeat: no-repeat;
background-position: right top;
}

div#odata-search, div#odata-upload {
display: none;
}

#block-twitter-profile-widget-0>h2 {
display: none;
}
div#odata-article-box {
        position: relative;
        top: 10px;
        border: 1px solid lightGrey;
        color: black;
        padding-top: 0px;
        clear: left;
        margin-bottom: 10px;
}
#odata-article-box h2 {
margin-right: 4px;
margin-left: 4px;
font-size: 21px;
font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
color: #3B3B3B;
line-height: 1.4;
}
#odata-article-box .content {
    text-align: justify;
    padding-left: 6px;
	padding-right: 6px;
}

span.catalog-link {
margin-top: 4px;
margin-right: 20px;
float: right;
font-size: 0.7em;
}