
/* ---------- Basic Layout Styles ----------- */

html,
body {
		background-color: #f5faff;
}

#page  {
  /*height: 100%;*/
  width: 1000px;
  
  	margin: 0px auto;
	padding: 0 8px;
	background-color: white;
	background-image: url(../images/textboxbg_left.png), url(../images/textboxbg_right.png);
	background-repeat: repeat-y;
	background-position: top left, top right;
	border-bottom: 1px solid #8c97a7;
	/*border-top: 1px solid silver;*/
}

#page-wrapper {
  min-height: 100%;
  min-width: 960px;
}

#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  /*width: 1000px; /*980px;*/
  margin-left: auto;
  margin-right: auto;
}
#header div.section {
  position: relative;
  margin: 0 10px;
}

.region-header {
  /*float: right; /* LTR */
  /*margin: 0 5px 10px;*/
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 100px; /* LTR */
  top: 0;
  width: 480px;
  padding-top: 8px;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 740px;
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 216px;
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0 5px;
  padding-right: 0px;
  overflow: hidden;
}
#breadcrumb {
  margin: 0 10px;
  display: none;	/*Ivette*/
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}
#footer-wrapper {
  /*padding: 35px 5px 30px;*/
	margin-top:10px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}
#footer {
  /*width: 940px;
  min-width: 920px;*/
}

div#opendata-footer {	/*Ivette*/
	text-align: center;
}

div#opendata-footer > a
{
	padding: 0 20px;
	/*color: black;*/
}

div#opendata-footer > a#disclaimer {
	border-right: 1px solid #DDD;
}

div#opendata-footer > a#credit {
	border-right: 1px solid #DDD;
}

div#opendata-footer > a#copiright {
	border-right: 1px solid #DDD;
}

/*http://drupal.org/node/457778*/
.clearfix::after {
	content: "";
	font-size: 0;
}