.uniqueField{
	text-align:left;
}

.dataLoadAliasLabel{
	display: block;
	font-weight: bold;
	/*line-height: 30px;*/
	float: left;
	text-align: right;
	margin-right: 15px;
	padding:5px;
	height:20px;
	overflow:hidden;
	width: 200px;
	/*
	margin: 3px; 
	padding: 3px; 
	border: 2px;
	*/
}

.etl_checkField{
	margin-top: 8px;
	display:block;
	float: left;
	margin-left: 10px;
	margin-right: 5px;
}

.etl_alias{
	padding:5px;
	height:20px;
}

#loadDataFormContainer{
	margin: 0 auto;
	width: 100%;
	min-width: 800px;
}

.loadDataFormLoading{
	position: absolute;
	z-index: 201;
	width: 100%;
	min-width: 800px;
	height: 90%;
	background: white;
	background-image: url('../../viewer/commons/img/ajax-loader.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.fieldsetLoadDataWizard{
	width:100%;
}

.ddl_columnType{
	width: 150px;
	border-top-color: #999;
	border: 1px solid #CCC;
	margin: 3px;
}

.rowColumnDetailsContainer{
	padding: 5px;
}

.ddl_numberOfDecimal{
	width: 150px;
	border: 1px solid #CCC;
	border-top-color: #999;
	margin: 3px;
}

.tb_labelField{
	width: 450px !important;
}

/*
#label-editing-button{
	background-color: #B0232A;
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	width:120px; 
	cursor: pointer;
	margin: 3px;
}
*/

#etl-warnings-container{
	padding: 10px;
}

#etl-warnings-details{
	max-height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 2px dotted red;
	padding: 10px;
	background-color: #FCC;
}

.etl_warning{
	padding: 5px;
}
	
.editLabelText{
	padding: 10px;
	background-color: whiteSmoke;
	margin: 5px;
}

.viewer-choice-infobox
{
	padding: 10px;
	background-color: whiteSmoke;
	margin: 5px;
}

.column-field{
	width: 50px;
}

.spanColumnErrorMessage{
	display: none;
	background-color: #FCC;
	display: none;
	padding: 6px;
	padding-left: 30px;
	background-image: url(../../../../../../../misc/message-24-error.png);
	background-position: 3px 2px;
	background-repeat: no-repeat;
}

.spanColumnInfoMessage{
	background-color: #F5FAF8;
	display: none;
	padding: 3px;
}

.fileFormatInfoBox{
	display: none;
	margin: 5px;
}

#fileFormatSelection{
	border: 1px solid gray;
	width: 200px;
}

#visibleFileUpload #metadata-dataupload-form{
	display:none;
}

#visibleFileUpload #edit-data-file-upload{
	margin-right: 10px
}

#message-error-etl-formatFile{
	display: none;
}

#csv-delimiter{
	border: 1px solid gray;
}

#csv-delimiter-container{
	display:none;
}

.message-info{
	background-image: url(../../../../../../../misc/message-24-info.png);
	border: 1px solid gray !important;
	background-color: #F2F5F7;
}

.etl-linkable{
	text-decoration:underline;
	color:blue;
}

