<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
 
 	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="{database url}" />
		<property name="username" value="{database username}" />
		<property name="password" value="{database password}" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="repository" class="it.sister.statportal.odata.repository.PostgreSQLRepository">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	
	<bean id="hrefIcon" class="java.lang.String">
  		<constructor-arg value="http://statportal.sister.it/logo.png"/>
	</bean>
	
	<bean id="colorLineStyle" class="java.lang.String">
  		<constructor-arg value="7f00ffff"/>
	</bean>
	
	<bean id="widthLineStyle" class="java.lang.String">
  		<constructor-arg value="2"/>
	</bean>
	
	<bean id="colorPolyStyle" class="java.lang.String">
  		<constructor-arg value="7f00ffff"/>
	</bean>
	
	<bean id="maxNumElementsForKmlDescription" class="java.lang.Integer">
  		<constructor-arg value="5050"/>
	</bean>
	
	<bean id="maxNumeElementsForKml" class="java.lang.Integer">
  		<constructor-arg value="10000"/>
	</bean>
	

</beans>
